{% load static %}
<html>
    <head>
        <title>Shayan's blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>
   <!-- <div class="page-header">
        <h1><a href="/">Shayan's Blog</a></h1>
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %} -->

    <!--new -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><a href="/">Shayan's Blog</a></h1>
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <!--<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
        </div>
        </div>


    </div>
    <div class="content container">
        <div class="row">
         
          <!-- new-->
           <div class="col-md-2">
            </div>
            
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
            
            <!-- new-->
            <div class="col-md-2">
                </div>
                
        </div>
    </div>

    <section id="lab_social_icon_footer">
        <!-- Include Font Awesome Stylesheet in Header -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <div class="container">
                <div class="text-center center-block">
                        <a href="https://www.facebook.com/shayan.kamil"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://www.instagram.com/shayan_kamil/"><i id="social-in" class="fa fa-instagram fa-3x social"></i></a>
                        <a href="https://www.linkedin.com/in/shayan-ahmad-kamil/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
                        <a href="mailto:shayankamil96@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
        </section>
    

    <!--
    <section class="footer">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="container">
            <div class="text-center center-block">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-google"></a>
            </div>
        </div>
    </section>
-->
</body>