{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default btn-edit" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2 class="post-title">{{ post.title }}</h2>
        <figure>
            <img class="post-image center" src="{{ post.image.url }}"/>
            <figcaption class="caption">Image Credits: {{ post.caption }}</figcaption>
        </figure>
        <p class="post-text">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}