h1 a, h1 a:hover, h2 a {
    color: white;
    font-family: 'Lobster';
    text-decoration: none;
    
}

h1 {    
    text-align: center;    /*new*/
}

.btn-edit {
    float: right;    /*new*/
}

body {
    padding-left: 15px;
}

/*new*/
.post-text {
    font-size: 12pt;
    text-align: left;
}

/*new*/
p {
    line-height: 25px;
}

/*new*/
.col-md-8 {
    background-image: url("")
}



/*new
.post-title {
    font-size:36px;
}

/*new*/
.post-image {
    padding: 40px 0px 0px 0px;

    }

/*new*/
.caption {
    text-align: center; 
    margin-bottom:50px; 
}

/*new*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

/*new*/
.jumbotron {
    background-image: url("bpic.jpg");
    background-size: cover;
    margin: 0px -10px 50px -15px;
}

.jumbotron h1, .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    margin-bottom: -15px;    /*new*/
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

/* footer*/

#lab_social_icon_footer {
    padding: 40px 0;
    margin: 10px 0px 0px -15px;
    background-color: #dedede;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }

  /* Multicoloured Hover Variations */
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-in:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
    background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
  
  #lab_social_icon_footer #social-li:hover {
   /* color: #0e76a8; */
      color: #0072b1;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }
  